<%- include('./includes/header'); %>

  <div class="container">
    <h1>Hello Galih!</h1>
    <h1>Hello Lutfiii</h1>
    <h1>Hello Rivaldi</h1>

    <h2>
      <%= title %>
      <%= name %>
    </h2>
  </div>

  <%- include('./includes/footer'); %>